
.nri-calculator-container {
  margin: 20px; 
  font-family: sans-serif;
}

.financial-year-dropdown {
  margin-bottom: 10px; 
  display: flex;
  justify-content: center; 
  width: 100%; 
  box-sizing: border-box; 
  padding: 0px 10px;
}

.menu-button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  
}

.dashboard {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px; 
}

.nri-days {
  font-size: 2em; 
  font-weight: bold;
  color: #906d6d;
  margin: 10px 0; 
  text-align: center; 
}

.nri-status {
  color: #e63e19;
  font-size: 1.2em; 
}

.days-needed {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center; 
}

.NoTrip {
  font-size: 1.5em;
  color: #333;
  margin: 20px auto; 
  text-align: center;
}

.trip-list {
  width: 95%; 
  max-width: 600px; 
  margin: 20px auto; 
  overflow-x: auto; 
}

.TripListHeading {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  text-align: center; 
}

.trip-list table {
  width: 100%;
  border-collapse: collapse;
}

.trip-list th,
.trip-list td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 0.9em; 
}

.add-trip {
  width: 95%; 
  max-width: 500px; 
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.add-trip label {
  margin-bottom: 5px;
  display: block; 
  text-align: center;
}
.add-trip input[type="date"],
.add-trip input[type="text"],
.add-trip input[type="checkbox"] {
  width: calc(100% - 110px); 
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.add-trip input[type="checkbox"] {
  width: auto; 
  margin-right: 5px; 
  
}

.add-trip button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%; 
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.add-trip button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .NriHeading {
    font-size: 1.5em;
  }

  .trip-list th,
  .trip-list td {
    font-size: 0.8em; 
    padding: 8px; 
  }
}

@media (max-width: 480px) {
  .nri-days {
    font-size: 1.5em;
  }
  .trip-list th,
  .trip-list td {
    font-size: 0.7em; 
    padding: 6px;
  }
}
