/* NRITimeCalculator.css */
.nri-calculator-container {
  margin: 20px; /* Consistent margin */
  font-family: sans-serif;
}

.financial-year-dropdown {
  margin-bottom: 10px; /* Increased margin */
  display: flex;
  justify-content: center; /* Center the dropdown */
  width: 100%; /* Full width on mobile */
  box-sizing: border-box; /* Include padding and border in width */
  padding: 0px 10px;
}

.menu-button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; /* Include padding and border in width */
  
}

.dashboard {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  margin-bottom: 20px; /* Space below dashboard */
}

.nri-days {
  font-size: 2em; /* Use relative units */
  font-weight: bold;
  color: #906d6d;
  margin: 10px 0; /* Consistent margin */
  text-align: center; /* Center the text */
}

.nri-status {
  color: #e63e19;
  font-size: 1.2em; /* Relative size */
}

.days-needed {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center; /* Center the text */
}

.NoTrip {
  font-size: 1.5em;
  color: #333;
  margin: 20px auto; /* Center horizontally */
  text-align: center; /* Center the text */
}

.trip-list {
  width: 95%; /* Occupy most of the width */
  max-width: 600px; /* Set a maximum width */
  margin: 20px auto; /* Center horizontally */
  overflow-x: auto; /* Add horizontal scroll if needed */
}

.TripListHeading {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  text-align: center; /* Center the text */
}

.trip-list table {
  width: 100%;
  border-collapse: collapse;
}

.trip-list th,
.trip-list td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 0.9em; /* Smaller font size for table data */
}

.add-trip {
  width: 95%; /* Occupy most of the width */
  max-width: 500px; /* Set a maximum width */
  margin: 20px auto; /* Center horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* Include padding and border in width */
}

.add-trip label {
  margin-bottom: 5px;
  display: block; /* Place labels above inputs */
  text-align: center; /* Align labels to the left */
}

.add-trip input[type="date"],
.add-trip input[type="text"],
.add-trip input[type="checkbox"] {
  width: calc(100% - 110px); /* Full width input fields, adjust as needed */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.add-trip input[type="checkbox"] {
  width: auto; /* Auto width for checkboxes */
  margin-right: 5px; /* Space between checkbox and label */
  
}

.add-trip button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%; /* Full width button */
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.add-trip button:hover {
  background-color: #0056b3;
}



/* Media Queries for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .NriHeading {
    font-size: 1.5em;
  }

  .trip-list th,
  .trip-list td {
    font-size: 0.8em; /* Smaller font size for table data */
    padding: 8px; /* Reduce padding */
  }
}

@media (max-width: 480px) {
  .nri-days {
    font-size: 1.5em;
  }
  .trip-list th,
  .trip-list td {
    font-size: 0.7em; /* Smaller font size for table data */
    padding: 6px; /* Reduce padding */
  }
}
